<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{student.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{student.list.headline}]]</h1>
                <div>
                    <a th:href="@{/students/add}" class="btn btn-primary ms-2">[[#{student.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${students.empty}">[[#{student.list.empty}]]</div>
            <div th:if="${!students.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{student.id.label}]]</th>
                            <th scope="col">[[#{student.name.label}]]</th>
                            <th scope="col">[[#{student.age.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="student : ${students}">
                            <td>[[${student.id}]]</td>
                            <td>[[${student.name}]]</td>
                            <td>[[${student.age}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-sm btn-secondary">[[#{student.list.edit}]]</a>
                                    <form th:action="@{/students/delete/{id}(id=${student.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{student.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
