<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{instructor.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{instructor.list.headline}]]</h1>
                <div>
                    <a th:href="@{/instructors/add}" class="btn btn-primary ms-2">[[#{instructor.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${instructors.empty}">[[#{instructor.list.empty}]]</div>
            <div th:if="${!instructors.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{instructor.id.label}]]</th>
                            <th scope="col">[[#{instructor.name.label}]]</th>
                            <th scope="col">[[#{instructor.experience.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="instructor : ${instructors}">
                            <td>[[${instructor.id}]]</td>
                            <td>[[${instructor.name}]]</td>
                            <td>[[${instructor.experience}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/instructors/edit/{id}(id=${instructor.id})}" class="btn btn-sm btn-secondary">[[#{instructor.list.edit}]]</a>
                                    <form th:action="@{/instructors/delete/{id}(id=${instructor.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{instructor.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
