<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{course.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{course.list.headline}]]</h1>
                <div>
                    <a th:href="@{/courses/add}" class="btn btn-primary ms-2">[[#{course.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${courses.empty}">[[#{course.list.empty}]]</div>
            <div th:if="${!courses.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{course.id.label}]]</th>
                            <th scope="col">[[#{course.name.label}]]</th>
                            <th scope="col">[[#{course.instructor.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="course : ${courses}">
                            <td>[[${course.id}]]</td>
                            <td>[[${course.name}]]</td>
                            <td>[[${course.instructor}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/courses/edit/{id}(id=${course.id})}" class="btn btn-sm btn-secondary">[[#{course.list.edit}]]</a>
                                    <form th:action="@{/courses/delete/{id}(id=${course.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{course.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
